<div class="container">

<header class = "jumbotron">
  <h2 id="title">Welcome to Magiczzzz</h2>
</header>
  {{outlet}}

<hr />
<footer>
  {{#link-to 'about'}}Visit Our About!{{/link-to}}
<br />
<br />
<br />
  {{#link-to 'index'}}Visit Our Home!{{/link-to}}

</footer>
</div>
