{{outlet}}
<h2>Click on the best cards to see their decks</h2>
<p>
  You won't regret it!
</p>

<ul>
  {{#each model as |card|}}
  {{card-tile cardz=card}}
  {{/each}}
</ul>

{{new-card save2 = "save3"}}
